body {
    background-color: black;
    color: #cccccc; /* 폰트 색상을 약간 어둡게 조정 */
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.footer {
    background-color: black;
    color: #cccccc; /* 폰트 색상을 약간 어둡게 조정 */
    padding: 20px 0;
    font-size: 14px; /* 폰트 크기 조정 */
}

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: left; /* 왼쪽 정렬 */
}

.question {
    font-size: 1.2em;
    margin-bottom: 20px !important; /* 우선순위를 높이기 위해 !important 사용 */
}

.links {
    display: flex;
    justify-content: space-between; /* 링크 사이에 공간 분배 */
    margin-bottom: 20px;
}

.language-selector {
    display: block;
    margin: 20px 0;
    width: 150px; /* 이미지 크기에 맞게 조정 */
}

.footer-content div {
    margin: 5px 0;
    line-height: 1.5; /* 줄 간격 조정 */
}

.footer-section {
    margin-top: 20px; /* 각 섹션에 마진 추가 */
}

.cloud-hosting span {
    color: white; /* 클라우드 호스팅 텍스트 색상을 흰색으로 설정 */

}

.language-selector {
    display: block;
    margin: 20px 0;
    width: 150px; /* 이미지 크기에 맞게 조정 */
}

.footer-content div {
    margin: 5px 0;
    line-height: 1.5; /* 줄 간격 조정 */
}

.footer-section {
    margin-top: 20px; /* 각 섹션에 마진 추가 */
}

.cloud-hosting span {
    color: white; /* 클라우드 호스팅 텍스트 색상을 흰색으로 설정 */
}

.footer-section.topflix{
    margin-top: 25px; /* 위 마진 */
    margin-bottom: 25px; /* 아래 마진 */
}