.links{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 14px;
    transition: color 0.3s;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    width: 100%;
    max-width: 400px; /* 최대 너비 제한 */
    box-sizing: border-box;
}


h1 {
    color: #fff;
    margin-bottom: 20px;
    text-align: left; /* 왼쪽 정렬 추가 */
}
.textbox {
    margin-bottom: 20px;
    width: 100%; /* 너비 설정 */
}
.textbox input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box; /* 패딩 포함한 너비 계산 */
}
.btn {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #e50914;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-sizing: border-box; /* 패딩 포함한 너비 계산 */
}
.btn:hover {
    background-color: #d40813;
}
.links {
    margin-top: 20px;
}
.links a {
    color: #ccc;
    text-decoration: none;
    margin: 0 5px;
}
.links a:hover {
    color: #fff;
}


.input-wrapper {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.input {
    width: 100%;
    padding: 10px 40px 10px 10px; /* 오른쪽 여백을 충분히 확보하여 아이콘이 겹치지 않도록 */
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}


.input-wrapper .togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2; /* 아이콘을 최상단으로 */
    font-size: 20px; /* 아이콘 크기 */
    color: #333; /* 아이콘 색상 */
}

.links a{
    margin: 10px;
    text-decoration: none;
}
