.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 40px 20px; /* 위아래 패딩 추가 */
    background-color: #000;
}


.input-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%; /* 너비 설정 */
    max-width: 600px; /* 최대 너비 설정 */

    position: relative;
}

.input-group input {
    width: calc(100% - 140px); /* 버튼 크기에 따라 너비 조정 */
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #fff;
    margin-right: 10px;
    font-size: 16px;
}

.input-group input.full-width {
    width: calc(100% - 20px); /* 버튼이 없는 경우 전체 너비 사용 */
    margin-right: 0;
}

.btn-duplicate {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

.btn-duplicate:hover {
    background-color: #d40813;
}

.btn-submit {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #e50914;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
    max-width: 600px; /* 최대 너비 설정 */
}

.btn-submit:hover {
    background-color: #d40813;
}

.success {
    background-color: green;
}

.error {
    background-color: red;
}

.input-group .togglePassword {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    /*z-index: 2; !* 아이콘을 최상단으로 *!*/
    font-size: 20px; /* 아이콘 크기 */
    color: #333; /* 아이콘 색상 */
}
.input-group input {
    width: calc(100% - 40px); /* 아이콘이 들어갈 공간을 확보 */
    padding-right: 40px; /* 오른쪽에 아이콘이 들어갈 공간 확보 */
}


.togglePassword {
    position: absolute;
}

.feedback {
    margin-top: 30px;
}