body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    max-width: 100%;  /* 전체 크기를 줄이기 위해 최대 너비 설정 */
    width: 100%;
    margin: 5% 0 5%;
}

.seat-selection {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 20px;

}

.seat-selection .ui {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen {
    background-color: #ff0000;
    color: #fff;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    width: 100%;
    margin-bottom: 20px;
    clip-path: polygon(0 0, 100% 0, 80% 100%, 20% 100%);
}

.seats {
    display: flex;
    flex-direction: column;
}

.seat-row {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.row-label {
    margin-right: 10px;
    font-weight: bold;
    color: #ff0000;
}

.seat {
    background-color: #444;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    user-select: none;
    width: 30px;  /* 크기를 줄이기 위해 너비와 높이 축소 */
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.seat.selected {
    background-color: #ff0000;
}

.seat.booked {
    background-color: #777;
}

.confirm-btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5% 0 5% 0;
    cursor: pointer;
    margin: 20px 0 20px 0;
    border-radius: 10px;
    width: 10%;
    font-size: 20px;
}

.movie-info {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #444;
    border-radius: 10px;
    width: 30%;  /* 크기를 줄이기 위해 너비 100% 설정 */
}

.movie-info h2 {
    margin: 0 0 10px;
}

.movie-info p {
    margin: 5px 0;
}

.seat-status {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.seat-status span {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.seat-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.seat-box {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected-box {
    background-color: #ff0000;
}

.booked-box {
    background-color: #808080;
}

.available-box {
    background-color: #c0c0c0;
    position: relative;
}

.cross {
    color: #fff;
    font-size: 18px;
    position: absolute;
}

.genre-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.genre-tab {
    background-color: #444;
    padding: 5px 10px;
    border-radius: 15px;
    color: #fff;
    font-size: 14px;
}

.booking-summary {
    display: flex;
    justify-content: center;
    background: #242424;
    width: 100%;
    max-width: 100%;
}

.movie-poster {
    margin-right: 10%;
    width: 10%;
    max-width: 100%;
    padding: 1%;
}

.movie-poster img {
    margin-right: 10%;
    width: 100%;  /* 크기를 줄이기 위해 너비 축소 */
    height: auto;
    border-radius: 10px;
}

.summary-info {
    margin-right: 10%;

    display: flex;
    flex-direction: column;
    padding: 1%;
}

.summary-info h3 {
    margin: 0;
    margin-bottom: 10px;
}

.summary-info p {
    margin: 5px 0;
}

.seat-details {
    display: flex;
    flex-direction: column;
}
